@charset "utf-8";
/* CSS Document */

	*{ 
		margin:0px; 
		padding:0px; }

	body{ 
			background:url(../images/background8.png); 
			background-repeat:x; }

	.picture{ 
			font:left; }
	
	li{ 
			width:120px; 
			font-size:隶书 24px; 
			font-weight:bold; 
			float:right; 
			list-style:none; }
	
	a { 
			text-decoration:none; 
			color:#EAE9E8; }

	a:hover{ 
			color:#FFF;}
